xsd/output_arithmetic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="output">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="sum"/>
					<xs:element ref="difference"/>
					<xs:element ref="sqrt"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sum" type="xs:integer"/>
	<xs:element name="difference" type="xs:integer"/>
	<xs:element name="sqrt" type="xs:float"/>
</xs:schema>
